## COVID data Exploratory Data Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def make_local(file):
    return file.replace('https://github.com/CSSEGISandData/COVID-19/blob/master/', '../COVID-19/')

In [14]:
url = 'https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
# file = '../COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv' 
confirmed_df = pd.read_csv(make_local(url))
print(confirmed_df.info())
confirmed_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Columns: 353 entries, Province/State to 1/4/21
dtypes: float64(2), int64(349), object(2)
memory usage: 750.2+ KB
None

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,50886,51039,51280,51350,51405,51526,51526,51526,51526,53011
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,55755,56254,56572,57146,57727,58316,58316,58991,59438,59623
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,97857,98249,98631,98988,99311,99610,99897,100159,100408,100645
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,7806,7821,7875,7919,7983,8049,8117,8166,8192,8249
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,17149,17240,17296,17371,17433,17553,17568,17608,17642,17684

In [15]:
url = 'https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths_df = pd.read_csv(make_local(url))
print(deaths_df.info())
deaths_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Columns: 353 entries, Province/State to 1/4/21
dtypes: float64(2), int64(349), object(2)
memory usage: 750.2+ KB
None

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2149,2160,2174,2179,2181,2191,2191,2191,2191,2237
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1143,1153,1164,1170,1174,1181,1181,1190,1193,1199
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2722,2728,2737,2745,2751,2756,2762,2769,2772,2777
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,83,83,83,84,84,84,84,84,84,84
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,399,399,403,403,405,405,405,407,408,408

In [16]:
url ='https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
recovered_df = pd.read_csv(make_local(url))
print(recovered_df.info())
recovered_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Columns: 353 entries, Province/State to 1/4/21
dtypes: float64(2), int64(349), object(2)
memory usage: 708.9+ KB
None

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,40784,41096,41441,41543,41612,41727,41727,41727,41727,42530
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,31181,31565,32122,32700,33185,33634,33634,34353,34648,34996
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,65505,65862,66214,66550,66855,67127,67395,67611,67808,67999
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,7252,7288,7318,7360,7384,7432,7463,7463,7517,7548
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,9976,10354,10354,10627,10859,11044,11146,11189,11223,11266

In [17]:
url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
us_confirmed_df = pd.read_csv(make_local(url))
us_confirmed_df['iso2'] = us_confirmed_df['iso2'].astype('category')
us_confirmed_df['iso3'] = us_confirmed_df['iso3'].astype('category')
us_confirmed_df['Province_State'] = us_confirmed_df['Province_State'].astype('category')
us_confirmed_df['Country_Region'] = us_confirmed_df['Country_Region'].astype('category')
print(us_confirmed_df.info())
us_confirmed_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 363 entries, UID to 1/7/21
dtypes: category(4), float64(3), int64(354), object(2)
memory usage: 9.2+ MB
None

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4105,4164,4190,4239,4268,4305,4336,4546,4645,4705
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,13172,13392,13601,13823,13955,14064,14187,14440,14656,14845
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1462,1492,1514,1517,1528,1530,1533,1575,1597,1614
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,1792,1817,1834,1854,1863,1882,1885,1923,1944,1981
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,4535,4584,4641,4693,4729,4746,4771,4849,4898,4957

In [18]:
file ='https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'
us_death_df = pd.read_csv(make_local(url))
us_death_df['iso2'] = us_death_df['iso2'].astype('category')
us_death_df['iso3'] = us_death_df['iso3'].astype('category')
us_death_df['Province_State'] = us_death_df['Province_State'].astype('category')
us_death_df['Country_Region'] = us_death_df['Country_Region'].astype('category')
print(us_death_df.info())
us_death_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 363 entries, UID to 1/7/21
dtypes: category(4), float64(3), int64(354), object(2)
memory usage: 9.2+ MB
None

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4105,4164,4190,4239,4268,4305,4336,4546,4645,4705
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,13172,13392,13601,13823,13955,14064,14187,14440,14656,14845
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1462,1492,1514,1517,1528,1530,1533,1575,1597,1614
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,1792,1817,1834,1854,1863,1882,1885,1923,1944,1981
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,4535,4584,4641,4693,4729,4746,4771,4849,4898,4957

In [19]:
file ='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv'
country_df = pd.read_csv(make_local(url))
country_df['iso2'] = country_df['iso2'].astype('category')
country_df['iso3'] = country_df['iso3'].astype('category')
country_df['Province_State'] = country_df['Province_State'].astype('category')
country_df['Country_Region'] = country_df['Country_Region'].astype('category')
print(country_df.info())
country_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 363 entries, UID to 1/7/21
dtypes: category(4), float64(3), int64(354), object(2)
memory usage: 9.2+ MB
None

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/29/20,12/30/20,12/31/20,1/1/21,1/2/21,1/3/21,1/4/21,1/5/21,1/6/21,1/7/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,4105,4164,4190,4239,4268,4305,4336,4546,4645,4705
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,13172,13392,13601,13823,13955,14064,14187,14440,14656,14845
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1462,1492,1514,1517,1528,1530,1533,1575,1597,1614
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,1792,1817,1834,1854,1863,1882,1885,1923,1944,1981
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,4535,4584,4641,4693,4729,4746,4771,4849,4898,4957